*{
  box-sizing: border-box;
}


.container {
  max-width: 1260px;
  min-width: 1000px;
  margin: auto;
}


#profile-image {
  margin: auto;
  width: 1260px;
}

#überschrift {
  z-index: 100;
  font-family: Helvetica;
  position: absolute;
  color: white;
  font-size: 80px;
  font-weight: bold;
  left: 150px;
  top: 350px;
}

.social_buttons {
display: inline-block;
margin: auto;
width: 1260px;
height: 100px;
background-color: #FFF5EE;
text-align: center;
padding-top: 15px;
}

.menü {
  max-width: 1260px;
  min-width: 500px;
  height: 500px;
  display: inline;
  margin: auto;
}

.menübild1 {
  margin-right: 60px;
  margin-top: 5px;
  display: inline;
}

.menübild2 {
  margin: auto;
  margin-top: 5px;
  display: inline;
}

.menübild3 {
  margin-left: 60px;
  margin-top: 5px;
  display: inline;
}




.content1 {
  width: 1260px;
  height: 500px;
  margin: auto;
  border-style: solid;
  border-color: #FFD700;
  background-color: #FFF5EE;
}

.block1 {
  width: 1260px;
  height: 750px;
  display: inline;
}

.lebenslauf {
  width: 1260px;
  height: 400px;
  font-family: Helvetica;
  text-align: center;
  font-size: 25px;
}

#mylife {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 50px;
  color: #FFB6C1;
  text-align: center;
}

.liste {
  width: 1260px;
  height: 400px;
  font-family: Helvetica;
  color: #808080;
  text-align: center;
  font-size: 25px;
}


.bilder {
  width: 1260px;
  height: 750px;
  background-color: #FFB6C1;
}

.bild6 {
  float: left;
}

.bild4 {
  float: right;
}


.content2 {
  width: 1260px;
  height: 400px;
  margin: auto;
  border-style: solid;
  border-color: #FFD700;
  background-color: #FFF5EE;
}

#mywork {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 50px;
  color: #FFB6C1;
  text-align: center;
}


.arbeitstext {
  height: 400px;
  font-family: Georgia, serif;
  text-align: center;
  font-style: italic;
  font-size: 20px;
  color: #808080;
}
